* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

section {
  margin: 60px 0px;
}
ul {
  margin-bottom: 0px;
  list-style: none;
}

:root {
  --them-clr-one: #7e4617;
  --them-clr-two: #f5aa329e;
  --acrdia-clr: #f5aa329e;
}

/* header  */
.topHeader {
  background-color: var(--them-clr-two);
  width: 100%;
  padding: 5px 15px;
}

.topHeader .right i.fa.fa-phone {
  color: #fff;
  font-size: 15px;
  text-align: right;
  padding-right: 5px;
}

.topHeader .right {
  position: relative;
}
.topHeader .right:hover .phoneMore {
  position: absolute;
  opacity: 1;
  transform: translateY(3px);
  visibility: visible;
}
.topHeader .right i.fa-solid.fa-caret-down {
  font-size: 18px;
  color: #fff;
  padding-left: 5px;
}
.topHeader .right {
  height: 100%;
  width: 20%;
  margin-left: auto;
  position: relative;
}
.topHeader .right .phone a{
  width: auto;
  text-decoration: none;
}

.topHeader .right a {
  color: #f9f9f9;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
}
.topHeader .right .phoneMore {
  position: absolute;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 9;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  visibility: hidden;
  transform: translateY(5px);
}
.topHeader .right .phoneMore ul {
  margin: 0px;
}


.h6, h6 {
  font-size: 12px;
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 600;
}

.topHeader .right .phoneMore ul li {
  display: flex;
  margin: 8px 5px;
  align-items: center;
}



.topHeader .right .phoneMore ul li span h5 {
  margin-bottom: 2px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
  color: #4d4a4a;
}
.topHeader .right .phoneMore ul li span:nth-child(2) {
  padding-left: 10px;
}
.topHeader .right .phoneMore ul li h6{

  color: #5d5d5d;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
}

.topHeader .right .phoneMore ul li a {
  color: #6b6b6b;
  font-size: 17px;
  font-weight: 500;
  font-weight: 600;
}


.topHeader .right .phoneMore ul li i.fa-brands {
  background: #25c100;
}
.topHeader .right .phoneMore ul li .fa {
  width: 36px;
  height: 36px;
  font-size: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.topHeader .right .phoneMore ul li i.fa-headset {
  background: #f50404;
  padding: 7px;
}
.topHeader .right .phoneMore ul li .fa-envelope-circle-check {
  background: #935c03;
  padding: 5px;
  font-size: 20px;
}

/* mainheader  */

.mainHeader .logo {
  width: 10%;
}
.mainHeader .logo img {
  width: 100%;
  object-fit: cover;
}

.mainHeader {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #7f3e08d1;

}

.mainHeader nav {
  text-align: left;
  position: relative;
}
.mainHeader nav > ul > li {
  display: inline-block;
  margin-right: 40px;
}
.mainHeader nav ul li a {

  color: #ebebeb;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.mainHeader nav ul li a  i.fa.fa-caret-down {
  padding-left: 5px;
}

.mainHeader nav > ul > li .megaMenu {
  position: absolute;
  width: 95%;
  background-color: #fff;
  z-index: 99;
  overflow: hidden;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
  left: 0;
  display: none;
}
.mainHeader nav > ul >li:hover .megaMenu.megaMenu1{
  display: flex;



}

.mainHeader nav > ul > li .megaMenu .megaChild {
  width: 100%;
}
.mainHeader nav > ul > li .megaMenu ul {
  width: 40%;
  background: #f7f7f7;
  padding: 20px;
  position: relative;
}
.mainHeader nav > ul > li .megaMenu ul li a {

  text-align: left;
  width: 100%;
  color: #6f6e6e;
  font-size: 13px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.mainHeader nav > ul > li .megaMenu ul li a  i.fa.fa-angle-down {
  transform: rotate(267deg);
  color: #918f8dcf;
  font-size: 12px;
}
.mainHeader nav > ul > li .megaMenu .menuchild{
  height: 100%;
}


.mainHeader nav > ul > li .megaMenu ul li {
  padding: 8px 0px;
 
}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(1):hover .menu1 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;
}

.mainHeader nav > ul > li .megaMenu ul li:nth-child(2):hover .menu2 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(3):hover .menu3 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(4):hover .menu4 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(5):hover .menu5 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(6):hover .menu6 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(7):hover .menu7 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(8):hover .menu8 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(9):hover .menu9 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(10):hover .menu10 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;

}
.mainHeader nav > ul > li .megaMenu ul li:nth-child(11):hover .menu11 {
      display: flex;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;
}


/* megaMenu2  */
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(1):hover .menu1 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}

.mainHeader  .megamenu2 .megaChild > ul{
  width: 25%;

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(2):hover .menu2 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(3):hover .menu3 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(4):hover .menu4 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(5):hover .menu5 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(6):hover .menu6 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(7):hover .menu7 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(8):hover .menu8 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(9):hover .menu9 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(10):hover .menu10 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}
.mainHeader nav > ul > li .megamenu2 ul li:nth-child(11):hover .menu11 {
  display: flex;
opacity: 1;
visibility: visible;
flex-wrap: nowrap

}

.menus {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
    width: 450px;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  background-color: var(--them-clr-one);
}
.menus img{
  width: 100%;
    width: 450px;
  height: 200px;
  object-fit: cover;
}

.mainHeader nav > ul > li .megaMenu1 ul li .menus.menu1 {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  visibility: visible;
}
.mainHeader nav > ul > li .megamenu2 ul li .menus.menu1 {
  display: flex;
  flex-wrap: nowrap;
  opacity: 1;
  visibility: visible;
}


.menus .menucontent {
  text-align: left;
  padding: 30px;
  color: #e7e7e7;
}

header .megaMenu .menus .menucontent a {
  border: 1px solid #ffffff4a;
  text-align: center;
  padding: 14px 8px;
  width: 60%;
  font-size: 14px;
  color: #e7e7e7;
  border-radius: 3px;
  margin-top: 10px;
  justify-content: center;
}

.mainHeader nav > ul > li .megaMenu.megamenu2 {

  width: 740px;

}
.mainHeader nav > ul > li .megaMenu.megamenu2 .menuchild ul {
    background-color: #fff;
    width: 220px;
    height: 100%;
  }
  .mainHeader nav > ul > li .megaMenu.megamenu2 .menuchild ul li a {
    font-size: 12px;
  }
  .mainHeader nav > ul > li .megaMenu.megamenu2 .menuchild ul li {
    display: block;
  }


  .mainHeader nav > ul li:nth-child(3):hover .megaMenu.megamenu2{
    display: block;
    visibility: visible;
    opacity: 1;

  }

  .mainHeader nav > ul > li .megaMenu.megamenu2 .menus{
    width: 560px;
  }


  .customizeButton{
    background-color: #ab6f3d;
    height: 100%;
    width: 12%;
  }
  .customizeButton a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}




/* banner  */
.banner{
  padding: 0px;

  margin: 0px;
}
#banner{
  position: relative;
}

#banner .item {
  width: 100%; /* Set the width to 100% or any desired value */
  height: 500px; /* Set a specific height for the div */
  background-size: cover; /* Ensures the background covers the entire div */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .item h1{
  margin: 0px;
  font-size: 65px;
  color: #fff;
  font-weight: 500;
  line-height: 70px;
}

#banner .item .content {
  text-align: center;
    width: 70%;
    margin: auto;
}
#banner .item .content p {
  color: #fff;
  font-size: 20px;
  margin-top: 12px;
}

#banner button.owl-prev span {
  position: absolute;
  left: 15px;
  top: 40%;
  width: 55px;
  height: 55px;
  display: inline;
  font-size: 45px;
  color: #ffffffd1;
  border-radius: 100%;
  line-height: 50px;
  border: 1px solid #ffffff30;
}
#banner button.owl-next span {
  border: 1px solid #ffffff30;

  position: absolute;
  right: 15px;
  top: 40%;
  width: 55px;
  height: 55px;
  display: inline;
  font-size: 45px;
  color: #ffffffd1;
  border-radius: 100%;
  line-height: 50px;
}
#banner .item .content {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  outline-offset: -16px;
  padding: 55px 0px;
}

#banner.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;

  border-radius: unset !important;
  transform: rotate(45deg);
}
#banner.owl-theme button.owl-dot.active span{
  background-color: #d18100;
}
#banner.owl-theme .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
}



/* whyChooseUs */
.whyChooseUs .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.whyChooseUs .container::before {
  position: absolute;
  content: "";
  height: 100%;
  background-image: url(../img/whychooseBackground.webp);
  z-index: -1;
  background-repeat: no-repeat;
  opacity: 0.1;
  width: 100%;
  background-size: contain;
  background-position: left;

}

.whyChooseUs .container h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
  display: inline-block;
}

.whyChooseUs .left{
  width: 42%;

 
}
.whyChooseUs .left img{
  width: 100%;
}

.whyChooseUs .right{
  width: 60%;
}
.whyChooseUs .right p {
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 25px;
  color: #787878;
  text-align: left;
}

.whyChooseUs .right a {
  display: inline-block;
  border: 1px solid #cfc6c6;
  padding: 10px 50px;
  color: #706d6d;
  border-radius: 4px;
  margin-top: 10px;
}